  <%= form_with url: update_password_path do |form| %>
    <div class="user-form">
      <div class="input-group">
        <%= form.label :current_password %>
        <%= form.password_field :current_password, required: :required %>
      </div>
      <div class="input-group">
        <%= form.label :new_password %>
        <%= form.password_field :new_password, required: :required %>
      </div>
      <div class="input-group">
        <%= form.label :new_password_confirmation %>
        <%= form.password_field :new_password_confirmation, required: :required  %>
      </div>
      <div class="input-group">
        <%flash.each do |type, msg| %>
          <p class="<%= type %>"><%= msg %></p>
        <% end %>
      </div>
      <%= form.submit 'Update password' %>
    </div>
  <% end %>