<% if @post %>
  <main class="post">
    <div class="details">
      <p class="title"><%= @post.title %></p>
      <p class="body"><%= @post.body %></p>
      <p class="date">Posted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %></p>
    </div>
    <% if can?(:crud, @post) %>
      <div class="buttons">
        <%= button_to 'Edit', edit_post_path(@post), method: :get %>
        <%= button_to 'Delete',post_path(@post), method: :delete %>
      </div>
    <% end %>
  </main>
<% end %>
 
<%= form_with model: @comment, url: post_comments_path(@post) do |form| %>
  <div class="comment-form">
    <%= form.label :body, "Comment" %>
    <%= form.text_area :body, maxlength: "255", rows: "5" %>
    <% if @comment.errors.any? %>
      <p><%= @comment.errors.full_messages.join(", ").gsub("Body", "Comment") %></p>
    <% end %>
    <%= form.submit :Submit %>
  </div>
<% end %>

<section class="comments">
  <% @comments&.each do |comment| %>
    <article class="comment">
      <p class="body"><%= comment.body %></p>
      <p class="date">Commented <%= time_ago_in_words(comment.created_at) %> ago by <%= comment.user.name %> • <%= link_to 'Delete', comment_path(comment), data: { turbo_method: :delete } %></p>
    </article>
  <% end %>
</section>
